.header-toolbar,.sticky-header,.btm-sec{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    

}
.col{
width: 40%;
}
.panel{
    border-radius: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    margin-top:15px !important;
    }
    
    .panel:hover{
        transform: scale(1.03);
    }
.panel-heading {
    font-family: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
    text-align: center ;
    font-weight: bold;
    font-size: 30px;
    border-color: white !important;
    background: unset !important; 
}


.form-control{
    border-radius: 15px !important;
    height: 50px !important;
}

.btn{
    gap: 20px;
    color: aliceblue;
    font-size: large;
    border-radius: 10px !important;
    display: inline-block;
}
.col-md-offset-3 {
    margin-left: 26.75%;
}
#resign{
    margin-left: 158px;
}